# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env

# Django
db.sqlite3
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build/cache
*.egg-info/
dist/
build/